@media screen and (max-width: 1280px) and (max-height: 720px) {
    html {
        /* transform: scale(.6);    */
        zoom: .6;
    }
 }
body{
    background: #232323;
    margin: 0;
    font-family: cursive;
}
.square{
    width: 30%;
    background: purple;
    padding-top: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.5s;
    -webkit-transition:  background 0.5s;
    -moz-transition:  background 0.5s;

}
#container{
    margin: 20px auto;
    max-width: 680px;
}
h1{
    font-family: cursive;
    text-align: center;
    color: white;
    background: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}
#stripe{
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}


#colorDisplay{
    font-size: 200%;
}
button{
    font-family: cursive;
    border:  none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 750;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.5s;
    -webkit-transition:  all 0.5s;
    -moz-transition:  all 0.5s;
}
button:hover, .selected{
    color: white;
    background: steelblue;
}
#message{
    font-weight: 750;
    font-size: inherit;
    display: inline-block;
    width: 20%;
    transition: all 0.5s;
    -webkit-transition:  all 0.5s;
    -moz-transition:  all 0.5s;
    
}
.blink{
    color: red;
    font-size: 22px;
}